<div class="contacts">
    <div class="column">
        <img class="photo" src="placeholder">
        <p class="name">Diana Maynard</p>
        <p class="email">Email: placeholder@fridge.com</p>
        <p class="phoneNumber">Phone: (xxx)xxx-xxxx</p>
        <a href="https://github.com/Mokoolaid">Github</a>
    </div>

    <div class="column">
        <img class="photo" src="placeholder">
        <p class="name">James Silverthorn</p>
        <p class="email">Email: placeholder@fridge.com</p>
        <p class="phoneNumber">Phone: (xxx)xxx-xxxx</p>
        <a href="https://github.com/jnsilverthorn">Github</a>
    </div>

    <div class="column">
        <img class="photo" src="placeholder">
        <p class="name">Lakshdeep Bajwa</p>
        <p class="email">Email: placeholder@fridge.com</p>
        <p class="phoneNumber">Phone: (xxx)xxx-xxxx</p>
        <a href="https://github.com/bajwals">Github</a>
    </div>

    <div class="column">
        <img class="photo" src="placeholder">
        <p class="name">Paul Hollwedel</p>
        <p class="email">Email: placeholder@fridge.com</p>
        <p class="phoneNumber">Phone: (xxx)xxx-xxxx</p>
        <a href="https://github.com/paulchollwedel">Github</a>
    </div>
</div>